
<mat-toolbar color="primary">Monitoring machine status:</mat-toolbar>

<div class="container">
  <form class="form-container">
    <mat-form-field>
      <input name="address" placeholder="Address" [(ngModel)]="address" matInput>
      <button aria-label="Connect to websocket server!" (click)="connect()"
      matSuffix mat-icon-button><mat-icon>Go</mat-icon></button>
    </mat-form-field>
  </form>
  <div>
    <ng-template>
      <pre style="word-wrap: break-word;">{{logs.status}}</pre>
    </ng-template>
  </div>
  <div class="websocket-console" #console>
    <ng-template ngFor let-message [ngForOf]="logs | async" let-i="index">
      <pre style="word-wrap: break-word;">{{message}}</pre>
    </ng-template>
  </div>
</div>
